* {
  margin: 1rem, auto;
  padding: 3 rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  align-items: center;
}

h1,h2,h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h1{ color: darkgreen;}

.clubList{
  display: flex;
  flex-wrap: wrap;
  flex: auto auto;
}

.club{
  max-width: 400px;
  padding: 2px;
  margin: 2px;
}

#navBar {
  background-color: #191919;
  padding: 1rem;
  text-align: center;
}

#navBar a{
  align-content: center;
  color: whitesmoke;
  size: 16pt;
  padding: 2rem;
  margin: 4rem
}

#navBar a:hover{
  color: black;
  background-color: white;
}
